
<ion-content>
 <main class="main">
    <aside class="aside-container">
      <div class="profile-container">
        <div class="profile"><img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo"></div>
      <p class="paragragh">Admin</p>
      </div>
      <div class="notifation">
          <ion-button shape="block" color="light" fill="clear">
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-button>
          <ion-badge class="badge" color="light">77</ion-badge>
      </div>
   
   
    </aside>
    <section class="content-container">
      <header class="header">
        <h1 class="first-header">Dashboard</h1>
      </header>
      <div class="scroll-container">
        <div class="default">
         <ion-fab-button class="ion-fab-button" color="light">
           <ion-icon  name="add"></ion-icon>
         </ion-fab-button>
        </div>
        <div class="add-tattoo">
          <img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" class="tattoo-image" alt="">
         <div class="info-tattoo">
           <article>
             <h4 style="white-space: normal; font-size: 2.8vh;">Tattoo Name</h4>
             <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">R400.00 - R500.00</p>
             <p style="white-space: normal; ; font-size: 2.5vh;">Lorem ipsum dolor si Lorem ipsum dolor si Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit cumque explicabo recusandae repellendus, numquam cupiditate cum. Natus aut molestiae?</p>
             

           </article>
         </div>
         <div class="edit-delete">
           <ion-button fill="clear" color="light">
             <ion-icon name="trash"></ion-icon>
           </ion-button>
           <ion-button fill="clear" color="light">
              <ion-icon name="create"></ion-icon>
            </ion-button>
         </div>
        </div>
        <div class="add-tattoo">
            <img src="../../../assets/clem-onojeghuo-tHEXNI4L4S4-unsplash.jpg" class="tattoo-image" alt="">
           <div class="info-tattoo">
             <article>
               <h4 style="white-space: normal; font-size: 2.8vh;">Tattoo Name</h4>
               <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">R400.00 - R500.00</p>
               <p style="white-space: normal; ; font-size: 2.5vh;">Lorem ipsum dolor si Lorem ipsum dolor si Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit cumque explicabo recusandae repellendus, numquam cupiditate cum. Natus aut molestiae?</p>
               
  
             </article>
           </div>
           <div class="edit-delete">
             <ion-button fill="clear" color="light">
               <ion-icon name="trash"></ion-icon>
             </ion-button>
             <ion-button fill="clear" color="light">
                <ion-icon name="create"></ion-icon>
              </ion-button>
           </div>
          </div>
          <div class="add-tattoo">
              <img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" class="tattoo-image" alt="">
             <div class="info-tattoo">
               <article>
                 <h4 style="white-space: normal; font-size: 2.8vh;">Tattoo Name</h4>
                 <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">R400.00 - R500.00</p>
                 <p style="white-space: normal; ; font-size: 2.5vh;">Lorem ipsum dolor si Lorem ipsum dolor si Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit cumque explicabo recusandae repellendus, numquam cupiditate cum. Natus aut molestiae?</p>
                 
    
               </article>
             </div>
             <div class="edit-delete">
               <ion-button fill="clear" color="light">
                 <ion-icon name="trash"></ion-icon>
               </ion-button>
               <ion-button fill="clear" color="light">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
             </div>
            </div>
      </div>
      <div class="sub-container">
          <div class="booking-container">
           <!--   <div class="no-bookings">
              <p>You have no bookings yet.</p>
            </div>  -->
            <h4 class="booking-header">Booking History</h4>
            <div class="bookings-list">
              <div class="booking-item">
                <div class="tattoo-booking-image"><img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""></div>
                <div class="info-booking">
                    <h4>Tattoo Name</h4>
                    <p>21 December 2019</p>
                    <p>Length: 10cm & Breadth: 5cm</p>
                  </div>
                  <div class="call-booking">
                      <ion-fab-button class="fab-btn" size="small" color="secondary">
                        <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                      </ion-fab-button>
                    </div>
              </div>
              <div class="booking-item">
                  <div class="tattoo-booking-image"><img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""></div>
                  <div class="info-booking">
                      <h4>Tattoo Name</h4>
                      <p>21 December 2019</p>
                      <p>Length: 10cm & Breadth: 5cm</p>
                    </div>
                    <div class="call-booking">
                        <ion-fab-button class="fab-btn" size="small" color="secondary">
                          <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                        </ion-fab-button>
                      </div>
                </div>
                <div class="booking-item">
                    <div class="tattoo-booking-image"><img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""></div>
                    <div class="info-booking">
                        <h4>Tattoo Name</h4>
                        <p>21 December 2019</p>
                        <p>Length: 10cm & Breadth: 5cm</p>
                      </div>
                      <div class="call-booking">
                          <ion-fab-button class="fab-btn" size="small" color="secondary">
                            <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                          </ion-fab-button>
                        </div>
                  </div>
                  <div class="booking-item">
                      <div class="tattoo-booking-image"><img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""></div>
                      <div class="info-booking">
                          <h4>Tattoo Name</h4>
                          <p>21 December 2019</p>
                          <p>Length: 10cm & Breadth: 5cm</p>
                        </div>
                        <div class="call-booking">
                            <ion-fab-button class="fab-btn" size="small" color="secondary">
                              <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                            </ion-fab-button>
                          </div>
                    </div>
            
            </div>
         <!--    <h4>Booking History</h4>
            <div class="booking-list">
              <div class="tattoo-image-booking">
                <img src="../../../assets/kaizen-nguy-n-s9imzeGXKQ0-unsplash.jpg" alt="">
              </div>
              <div class="info-booking">
                <h4>Tattoo Name</h4>
                <p>21 December 2019</p>
                <p>Length: 10cm & Breadth: 5cm</p>
              </div>
              <div class="call-booking">
                <ion-fab-button size="small" color="secondary">
                  <ion-icon name="call"></ion-icon>
                </ion-fab-button>
              </div>
              
            </div>
            <div class="booking-list">
                <div class="tattoo-image-booking">
                  <img src="../../../assets/kaizen-nguy-n-s9imzeGXKQ0-unsplash.jpg" alt="">
                </div>
                <div class="info-booking">
                  <h4>Tattoo Name</h4>
                  <p>21 December 2019</p>
                  <p>Length: 10cm & Breadth: 5cm</p>
                </div>
                <div class="call-booking">
                  <ion-fab-button size="small" color="secondary">
                    <ion-icon name="call"></ion-icon>
                  </ion-fab-button>
                </div>
              </div>
            <div class="booking-list">
                <div class="tattoo-image-booking">
                  <img src="../../../assets/kaizen-nguy-n-s9imzeGXKQ0-unsplash.jpg" alt="">
                </div>
                <div class="info-booking">
                  <h4>Tattoo Name</h4>
                  <p>21 December 2019</p>
                  <p>Length: 10cm & Breadth: 5cm</p>
                </div>
                <div class="call-booking">
                  <ion-fab-button size="small" color="secondary">
                    <ion-icon name="call"></ion-icon>
                  </ion-fab-button>
                </div>
              </div> -->
           
          </div>
      <div class="analytics-container">
        
          <div class="graghs">
            <p>Gragh will be placed here (Back end)</p>
        </div>
      </div>
      </div>
    
    </section>
 </main>
</ion-content>
