
<ion-content>
 <main class="main">
    <aside class="aside-container">
      <div class="profile-container">
        <div class="profile"><img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo" (click)="goProfilePage()"></div>
      <p class="paragragh">Admin</p>
      </div>
      <div class="notifation">
          <ion-button shape="block" color="light" fill="clear" (click)="goToNotificationsPage()">
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-button>
          <ion-badge class="badge" color="light">77</ion-badge>
      </div>
   
   
    </aside>

    <section class="content-container">

      <header class="header">
        <h1 class="first-header">Dashboard</h1>
      </header>


      <div class="scroll-container">
        <div class="default">
         <ion-fab-button (click)="openModal(1, {})"  class="ion-fab-button" color="light">
           <ion-icon style="font-size: 4vw;" name="add"></ion-icon>
         </ion-fab-button>
        </div>
        
        <div class="add-tattoo" *ngFor="let tattoo of Tattoos">
          <img src="{{tattoo.image}}" class="tattoo-image" alt="">
         <div class="info-tattoo">
           <article>
             <h4 style="white-space: normal; font-size: 2.8vh;">{{ tattoo.name}}</h4>
             <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.pricerange}}</p>
             <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.description}} </p>
             

           </article>
         </div>  
         <div class="edit-delete">
           <ion-button  (click)="DeleteData(tattoo)" fill="clear" color="light">
             <ion-icon name="trash"></ion-icon>
           </ion-button>
           <ion-button (click)="openModal(0, tattoo)"  fill="clear" color="light">
              <ion-icon name="create"></ion-icon>
            </ion-button>
         </div>
        </div>
    
          
      </div>


      <div class="sub-container">
          <div class="booking-container">
           <!--   <div class="no-bookings">
              <p>You have no bookings yet.</p>
            </div>  -->
            <h4 class="booking-header">Booking History</h4>
            <div class="bookings-list">
                <div class="booking-item">
                      <div class="tattoo-booking-image"><img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""></div>
                      <div class="info-booking">
                          <h4>Tattoo Name</h4>
                          <p>21 December 2019</p>
                          <p>Length: 10cm & Breadth: 5cm</p>
                        </div>
                        <div class="call-booking">
                            <ion-fab-button class="fab-btn" size="small" color="success">
                              <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                            </ion-fab-button>
                          </div>
                    </div>

                    <div class="booking-item">
                        <div class="tattoo-booking-image"><img src="../../../assets/chris-blonk-aTiGszXqrJE-unsplash.jpg" alt=""></div>
                        <div class="info-booking">
                            <h4>Tattoo Name dskjbsdkfbj</h4>
                            <p>21 December 2019</p>
                            <p>Length: 10cm & Breadth: 5cm</p>
                          </div>
                          <div class="call-booking">
                              <ion-fab-button class="fab-btn" size="small" color="success">
                                <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                              </ion-fab-button>
                            </div>
                      </div>
            </div>
       
          </div>
          </div>
      <div class="analytics-container">
        
          <div class="graghs">
 
              
               <ion-card class="graghs">
                <ion-card-header>
                
                </ion-card-header>
                <ion-card-content>
                  <canvas #barChart></canvas>
                </ion-card-content>
              </ion-card> 

              
        </div>
      </div>


   
      
    </section>
 </main>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <p style="font-size: 80%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" text-center>@INK SCRIBE TATTOO</p>
  </ion-toolbar>
</ion-footer> -->
