
*, *::before, *::after {
    box-sizing: border-box;
}

.main {
    background: linear-gradient(rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.87)), url('../../../assets/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .onbording {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.8);
    
        .onboard {
            width: 50%;
            max-width: 50%;
            height: 70%;
            background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0.5)), url('../../../assets/background.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
            position: relative;
            display: flex;
    
    
            .btn-close {
                position: absolute;
                top: -8%;
                right: 0%;
                z-index: inherit;
                
    
            }
          
    
            ion-slide {
                display: block !important;
                /* flex-basis: 100%; */
            }
    
            .content {
                 display: flex;
              flex-direction: column;
                
              width: 100%;
              height: 100%;
              
              z-index: 500;
            
    
              .image {
                  flex-basis: 50%;
                  width: 100%;
                  background: #000;
                  position: relative;
                  overflow: hidden;
                  display: flex;
                  justify-content: center;
                  align-items: center;
    
                  img {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      border-radius: 5px 5px 0 0;
                  }
                  h1 {
                    color: #fff;
                    z-index: 500;
    
                  }
              }
              .info {
                  flex-basis: 50%;
                display: flex;
                flex-direction: column;
    
                  .dc_lorem {
                      flex-basis: 80%;
                      overflow-y: scroll;
                      overflow-x: hidden;
                      font-weight: 1.2vw;

                      &::-webkit-scrollbar {
                          display: none;
                      }
    
                      p {
                        padding: 1em;
                      }
                  }
    
                  .dc_btn {
                      flex-basis: 10%;
                      padding: 1em;
                      margin-bottom: 1em;
                  }
    
              }
    
                
            }
    
        }
    }
    
    
}
.main, .booking-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
  
  

   

    .full_r {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        z-index: 500;
        background: rgba(3, 3, 3, 0.529);

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: inherit;

        }

        .full-i_r {
            flex-basis: 90%;
            height: 90%;
            position: relative;

            img {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

ion-segment-button {
    padding: .3em;
}


.aside {
    flex-basis: 10%;
   
    position: relative;
    background: #D66E53;
   

    &::after {
        position: absolute;
        content: '';
        top: 0;
        height: 60%;
        left: 0;
        width: 100%;
        border-radius: 0 0 150px 0%;
        background: linear-gradient(90deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
        z-index: 2;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        height: 62%;
        left: 0;
        width: 100%;
        border-radius: 0 0 150px 0%;
        background: linear-gradient(30deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
        z-index: 1;
    }

    & > * {
        position: relative;
        z-index: 3;
    }
}
.notifation {
    position: relative;

}
.badge {
    position: absolute;
    top: 15%;
    right: 25%;
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    height: 19px;
    width: 19px;
    border-radius: 50px;
   
}
.profile-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3em;
    color: #fff;

}
.profile-img-blick {
    width: 6vh;
    height: 6vh;
    border-radius: 50px;
    overflow: hidden;
   
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}
.container {
    flex-basis: 90%;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
}
.header-container {
    flex-basis: 10%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    

}
.h1-header {
    font-size: 30px;
    margin: 0 !important;
    padding-left: 1em;
    font-weight: bolder;
}
.header-booking {
    flex-basis: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.bookings-header {
    font-size: 20px !important;
}
.card_t:hover .info {
    display: flex;
}
.scroll-container {
    flex:0 0 30%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;

}

.card-horizontal-scroll {
    flex: 0 0 40%;
    padding: 1em;
    height: 100%;
    
 
}

.info-tattoo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    color: #fff;
    display: none;
    padding: .5em;
    font-size: 100%;

}
.card-list-item:hover .info-tattoo {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;

}
.card-list-item:hover {
    transform: scale(1.1);
    z-index: 100;
   

}

.hide {
    display: none;
}
.card-list-item:hover img {
    filter: brightness(30%);
}
.card-list-item {
     background: #f2f2f2;
    color: rgb(255, 135, 79);
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    box-shadow:  12px 12px 12px rgba(0, 0, 0, 0.1),  
      -12px -12px 12px  rgba(255, 255, 255, 1);
    flex-direction: column;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .fullscreen {
        position: absolute;
        bottom: 2%;
        left: 2%;
        z-index: inherit;

    }
}

.active {
    transform: skew(10%);
}
.segmetal {
    display: flex;
    flex-direction: column;
    padding: 1em;
  
    flex-basis: 50%;

    .deep {
        flex-basis: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }

    .listings {
        flex-basis: 90%;
       /*  background: blue; */
        display: flex;
        height: 100%;
        width: 100%;
        /* flex-direction: column; */
    

        .list-booking {
            flex-basis: 100%;
         
           /*  background: red; */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow-y: auto;
            overflow-x: hidden;
            
            .no-bookings {
                flex-basis: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .card_ {
                /* flex: 0 0 100px; */
                max-width: 200px;
                padding: .5em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 50%;

               position: relative;



                .card_t {
                    flex-basis: 100%;
                     width: 100%;
                     display: flex;
                     flex-direction: row;
                     align-items: flex-end;
                     box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1);
                     background: rgb(255, 255, 255);
                    border-radius: 5px;
                    overflow: hidden;
                    transition: 500ms;

                    &:hover {
                        transform: scale(1.05);
                        
                    
                    }

                   
                   
                position: relative;

                
                .coloring2 {
                  
                    top: 1%;
                    right: 1%;
                    width: 20px;
                    height: 20px;
                   
                    position: absolute;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    border-radius: 50px;
                }

                    .img-tattoo {
                        flex-basis: 30%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;


                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }

                    }
                    .info {
                        flex-basis: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                      /*   margin-left: 1%; */
                        z-index: 3;
                        background: rgba(0, 0, 0, 0.637);
                        color: #fff;
                       /*  display: none; */
                         
                  /*       width: 50px; */
                       
                        p {
                            white-space: nowrap;
                            overflow: hidden;
                            width: 250px;
                            text-overflow: ellipsis;
                            padding: .3em;
                        }


                      
                    }
                     &:hover .info {
                        display: flex;
                    }

                }
               
            }
        }
    }
  

}

.grow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-badge {
        margin-right: .56em;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding:1em;
 
        
    }
}

.button-edit-delete {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.425);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.booking-container {
    flex-basis: 60%;
    height: 60%;
    flex-wrap: nowrap !important;

}




.call {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.listings {
    
}



.gragh-container {
    flex-basis: 50%;
    
    height: 100%;
    align-self: flex-end;
    display: flex;
   /*  justify-content: center;
    align-items: center; */
    align-content: center;
    flex-direction: column;
    position: relative;

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        display: none;

    }

  
    
}
.graph {
    flex-basis: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-self: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
 
    
}
.graph-content {
    position: relative;
    margin: auto;
    flex-basis: 100%;
/*     height: 100%;
    width: 100%; */
    width: 100%;

}
canvas {
    
    box-shadow: 0 0 3px #ddd;
    height: 100% !important;
    width: 100% !important;
    
}

.analytics_btn, .small_device_gragh {
    display: none;
}
.depictGragh {
    flex: 0;
    display: flex;
    background: linear-gradient(rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.87)), url('../../../assets/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    justify-content: space-between;
  /*   align-items: center; */
    flex-direction: row;
    .first {
        justify-content: space-between;
        align-items: flex-start;
        text-align: left !important;
        display: flex;
        width: 100%;
        /* padding: .5em; */
        

        p {
            padding: .5em;
            .colorCode {
                padding: .4em;
                color: #fff;
                font-weight: bolder;
            }
        }
        
      
    }

}


@media all and (max-width: 600px) {
    .onbording{
        .onboard {
     
            width: 90% !important;
            max-width: 90% !important;
            height: 80% !important;

            .btn-close { 
                top: -11% !important;
            }
        }
    }
    .analytics_btn {
        display: block;
        --border-radius: 0;
        text-transform: lowercase;
        font-family: 'Montserrat', sans-serif !important;
    }

    .scroll-container {
        flex: 0 0 50% !important;
    }

   

    .deep {
        flex-basis: 100% !important;
    }

    ion-label, p {
        font-size: 70%;
        text-align: center;
    }

    h4 {
        font-size: 90%;
        text-align: center;
    }

    .segmetal {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 !important;
        flex-basis: 50%;
    }

    .list-booking {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        flex-wrap: nowrap !important;

        &::-webkit-scrollbar {
            display: none;
        }
        flex: 0 0;
       justify-content: center;
       padding: 0 !important;

        .card_ {
           max-width: 90% !important;
            height: 90% !important;
        }
    }

    .f {
        display: block;
    }

    .main {
        position: relative;
    }

    .gragh-container {
      /*   background: #000; */
        position: absolute;
        top: -10%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        padding: 0 !important;
        display: none;

        .close-btn
        {
            display: block;
        }
        .graph {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 0 !important;

            .graph-content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                

                canvas {
                    height: 300px !important;
                    width: 100% !important;
                 
                }

                .depictGragh {
                    flex: 0;
                    display: flex;
                    background: linear-gradient(rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.87)), url('../../../assets/background.jpg');
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding: 1em;
                    justify-content: space-between;
                  /*   align-items: center; */
                    flex-direction: column;
                    .first {
                        justify-content: space-between;
                        align-items: flex-start;
                        text-align: left !important;
                        width: 100%;
                        display: flex !important;
                        /* padding: .5em; */
                        

                        p {
                            padding: .5em;
                            .colorCode {
                                padding: .4em;
                                color: #fff;
                                font-weight: bolder;
                                
                                margin: 2%;
                            }
                        }
                        
                      
                    }

                }

            }

        }

    }

    
     .container {
         overflow: scroll;
     }
    
  

    .image {
        position: relative;
        height: 100%;
        width: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }
    }

    .badge {
        position: absolute;
        top: 15%;
        right: 20%;
        padding: .2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 19px;
        width: 19px;
        border-radius: 50px;
    }
  
    .gragh-container {
        flex-basis: 30%;
        padding: 2em;
        background: #fff;

    }
   
   .main{
       flex-flow: column nowrap;
   }
      .aside {
           flex-basis: 4%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
         flex-wrap: wrap;
         height: 100%;
         box-shadow: 0 3px 6px rgba(0, 0, 0, 0.301);
         
        
       }
       .profile-container {
           flex: 1;
           flex-direction: row;
           display: flex;
           align-items: center;

    
           .profile {
               height: 5vh;
               width: 5vh;
               margin-right: 5%;
           }
       }
   .booking-container  {
    flex-flow: column wrap-reverse;
   }
   .header-container, .header-booking {
       justify-content: center;
    }
   .h1-header {
       font-size: 17px;
       text-align: center;
       padding: 0 !important;
   }
   .bookings-header {
    font-size: 14px !important;
    text-align: center;
    padding: 0 !important;
   }
  
   .card-horizontal-scroll {
    flex: 0 0 80% !important;
}

  }


  

  @media all and (min-width: 600px) {
    .card-horizontal-scroll {
        flex: 0 0 35%;
    }
   /*  .scroll-container {
        flex: 0 0 !important;
    } */
    

  }
  @media all and (max-width: 768px) {

   
    .card-horizontal-scroll {
        flex: 0 0 45%;
    }
    .container {
        flex-basis: 94%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    

    .booking-container {
        flex-direction: column;
    }

    .listings {
        flex: 0 0 100%;
    }
    .list-booking {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        flex-wrap: nowrap !important;
        
        .card_ {
            max-width: 420px;
            height: 100% !important;
        }
    }

    .gragh-container {
        margin-top: 15%;
        flex: 0 0 50%;
    }
  }
  @media all and (max-width: 992px) {
    .card-horizontal-scroll {
        flex: 0 0 50%;
    }
    .container {
        flex-basis: 94%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    

    .booking-container {
        flex-direction: column;
    }
    .listings {
        flex: 0 0 100%;
    }
    .list-booking {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        flex-wrap: nowrap !important;
        
        .card_ {
            max-width: 420px;
            height: 100% !important;
        }
    }

    .gragh-container {
        margin-top: 15%;
        width: 100% !important;
    }
  }
  @media all and (max-width: 1024px) {
    .card-horizontal-scroll {
        flex: 0 0 40%;
    }
    .container {
        flex-basis: 94%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    

    .booking-container {
        flex-direction: column;
    }
    .listings {
        flex: 0 0 100% !important;
    }
    .list-booking {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        flex-wrap: nowrap !important;
        
        .card_ {
            max-width: 420px;
            height: 100% !important;
        }
    }

    .gragh-container {
        margin-top: 15%;
      
        width: 100% !important;
    }
    
  }

  @media all and (min-width: 1200px) {
    .card-horizontal-scroll {
        flex: 0 0 28%;
    }
    .aside {
        flex-basis: 4%;
    }
    .container {
        flex-basis: 96%;
    }

    .card_ {
       max-width: 50% !important;
    }
  /*   .booking-container {
        flex-direction: column-reverse;
    } */

  }

  @media all and (min-width: 1400px) {
    .card-horizontal-scroll {
        flex: 0 0 22%;
    }
    .aside {
        flex-basis: 4%;
    }
    .container {
        flex-basis: 96%;

    }
    .booking-container {
        flex-direction: row;
    }
  }

  .card_ {
    max-width: 33% !important;
 }

  .container {
      flex: 1 !important;
  }

  p{ 
    font-size: 70% !important;
}
