
<ion-content>
  <div class="main animated bounceInUp">
    <div class="aside">
 
        <div class="profile-container" (click)="goProfilePage()">
            <div class="profile-img-blick" ><img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo" ></div>
          <p class="paragragh">Admin</p>
          </div>
          <ion-button shape="block" color="light" fill="clear" size="large" (click)="gotToLandingPage()">
            <ion-icon mode="ios" name="home"></ion-icon>
          </ion-button>
          <div class="notifation">
              <ion-button shape="block" color="light" fill="clear" size="large" (click)="goToNotificationsPage()">
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              <ion-badge class="badge" color="danger">{{notifications1}}</ion-badge>
          </div>

        


          <!-- This is the message notifications -->
          <div class="notifation">
            <ion-button (click)="viewMessages()" shape="block" color="light" size="large" fill="clear">
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
              </ion-button>
            <ion-badge class="badge" *ngIf="messages > 0" color="warning">{{messages}}</ion-badge>
        </div>

       
    </div>
    <div class="container">
      <div class="header-container">
        <h1 class="h1-header">Content Management System</h1>
      </div>
      <div class="scroll-container">
        <div class="card-horizontal-scroll">
          <div class="card-list-item">
              <ion-fab-button size="small" (click)="openModal(1, {})" color="light"><ion-icon name="add"></ion-icon></ion-fab-button>
          </div>
        </div>
        <div class="card-horizontal-scroll" *ngFor="let tattoo of Tattoos">
            <div class="card-list-item">
                <img src="{{tattoo.image}}" alt="">
                <div class="info-tattoo">
                    <article>
                      <h4 >{{ tattoo.name}}</h4>
                      <p>{{tattoo.pricerange}} </p>
                      <p>{{tattoo.description}} </p>
                     
                     
         
                    </article>
                  </div> 
                <div class="button-edit-delete">
                    <ion-button  (click)="DeleteData(tattoo)" fill="clear" color="light"><ion-icon name="trash"></ion-icon></ion-button>
                    <ion-button (click)="openModal(0, tattoo)"  fill="clear" color="light"><ion-icon name="create"></ion-icon></ion-button>
                </div>
            </div>
          </div>
      </div>
      <div class="booking-container">
        <div class="segmetal">
          <div class="deep"> 
          
            <h4 style="font-weight: 700;  padding-left: 1em;">View Booking History</h4>
            <p style="padding: 1em;">Below is the list of all declined and accepted bookings</p>
        
          <ion-segment [(ngModel)]="category" color="primary">
          
            <ion-segment-button value="accepted">
             
              <div class="grow">
                <ion-badge color="light">{{AcceptedLength}}</ion-badge>
                <ion-label>Accepted</ion-label>
                
              </div>
              
            </ion-segment-button>
            <ion-segment-button  value="declined">
              <div class="grow">
                <ion-badge color="light">{{declinedLength}}</ion-badge>
                <ion-label>Declined</ion-label>
                
              </div>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="listings" [ngSwitch]="category">
          <div class="list-booking"  *ngSwitchCase="'declined'">

            <div class="no-bookings" *ngIf="Decline.length == 0">
              <p >You do not have <span style="color: red;">Declined</span>  bookings yet</p>
            </div>
            
             
            
             
             
              <div class="card_"  *ngFor = "let item of Decline">
                <div class="card_t">
                  <div class="coloring1"></div>
                    <div class="img-tattoo">
                      <img src="{{item.data.image}}" alt="">
                    </div>
                    <div class="info">
                      <p><strong>{{item.data.name}}</strong></p>
                     <!--  <p style="background: red; color: #fff">Status {{item.data.bookingState}}</p> -->
                      <p>Date Declined: 22/01/2020</p>
                      </div>
                </div>
              </div>
             
          </div>
          <div class="list-booking" *ngSwitchCase="'accepted'">
      
            <div class="no-bookings"  *ngIf="Accepted.length == 0">
              <p >You do not have <span style="color: forestgreen;">Accepted</span>  bookings yet</p>
            </div>

            <div class="card_"  *ngFor = "let item of Accepted">
              <div class="card_t">
                <div class="coloring2"></div>
                  <div class="img-tattoo">
                    <img src="{{item.data.image}}" alt="">
                  </div>
                  <div class="info">
                    <p style="font-weight: bold;">{{item.data.name}}</p>
                    <p>{{item.data.customerName }}</p>
                    <p>{{item.data.number }}</p>
                   <!--  <p style="background: forestgreen; color: #fff">Status {{item.data.bookingState}}</p> -->
                    <p>Start Date: {{item.data.endingDate | date: 'shortDate'}}</p>
                      

                  </div>
              </div>
            </div>
         
          </div>
        </div>
      
       
        </div>
      
     
       
        <div class="gragh-container">

             <div class="graph">
               <div class="header-container">
                 <h4 class="h1-header bookings-header" style="padding-top: 15px;">Analytics</h4>
               </div>
               <div class="graph-content">
                  <canvas #barChart>Acepted</canvas>
               </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
