
<ion-content>
  <main class="main">
     <aside class="aside-container">
        <div class="profile-container">
            <div class="profile"><img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo" (click)="goProfilePage()"></div>
          <p class="paragragh">Admin</p>
          </div>


          <div class="notifation">
            <ion-button  (click)="home()" shape="block" color="light" size="large" fill="clear">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
              </ion-button>
          
        </div>


      
          <!-- <div class="notifation">
              <ion-button shape="block" color="light" size="large" fill="clear">
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              <ion-badge class="badge" color="light">{{notifications}}</ion-badge>
          </div> -->




    </aside>
    <section class="content-container"> 
        <header class="header">
          <!-- <ion-button fill="clear"  color="dark"><ion-icon name="arrow-back"></ion-icon></ion-button> -->
            <h1 class="first-header">All Requests</h1>
          </header>
          <div class="sub-container">


           

            <div class="booking-container" >
                <div class="booking-container" >
                    
                <div class="bookings-list">
                                          <div class="booking-item" *ngFor = "let item of Bookings1; let i = index" (click)="save(item, i)">
                                              <div class="tattoo-booking-image"><img src="{{item.obj.image}}" alt=""></div>
                                              <div class="info-booking">
                                              <p class="description">{{item.obj.description }}</p>                                           
                                              <p>Breadth:{{item.obj.breadth}}cm</p>
                                              <p>Length:{{item.obj.length}}cm</p>
                                             </div>
                                    
                            </div>
                      </div> 
                
                    
                   </div>
            </div>


            <div class="respond-container">
                 <div class="calendar-container"  *ngIf="obj.image"> 

                   <div class="month">
                    <h4>Pick a day in which you will be available</h4>
                    <div class="displayFormat">
                      <div class="changeMonth">
                          <p class="displayMonth">{{event.startTime | date: 'longDate'}}</p>
                      </div>
                      
                    </div>
                   </div>
                     <ion-row>
                   
                       <ion-col col-5 class="holder-calendar">
                       
                          <calendar
                          [lockSwipeToPrev]="lockSwipeToPrev"
                          [eventSource]="eventSource" 
                          [calendarMode]="calendar.mode" 
                          [currentDate]="calendar.currentDate"
                          (onEventSelected)="onEventSelected($event)"
                          (onTitleChanged)="onViewTitleChanged($event)"
                          (onTimeSelected)="onTimeSelected($event)" 
                          startHour="6"
                          endHour="20"
                          step="30"
                          [lockSwipeToPrev]="lockSwipeToPrev"
                          startingDayWeek="1">
                          </calendar> 
                          
                       </ion-col>
                     </ion-row> 
              

                    
                    
              
                     <ion-item>
                        <ion-label position="floating">Start</ion-label>
                        <ion-datetime displayFormat="MMMM DDD YYYY HH:mm" pickerFormat="MMMM DDD YYYY HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
                     
                      </ion-item>
              
                      <ion-item>
                        <ion-label position="floating">End</ion-label>
                        <ion-datetime displayFormat="MMMM DDD YYYY HH:mm" pickerFormat="MMMM DDD YYYY  HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
                      </ion-item>
                      <ion-item style="margin-bottom: 3em;">
                        <ion-label position="floating" >Price</ion-label><br>
                        <ion-input type="tel"  [(ngModel)]="price">R</ion-input>
                      </ion-item>
                     <ion-button class="btn-respond" shape="block" color="secondary" (click)="addEvent()">Respond</ion-button>
                  </div>
      
                  <div class="details-profile" padding *ngIf="obj.image">
                      <div class="profile-container">
                          <div class="profile"><img src="{{obj.image}}" alt="tattoo" (click)="goProfilePage()"></div>
                        <p class="paragragh" style="color: rgb(80, 80, 80)">{{obj.customerName}}</p>
                        </div>
                        <div class="card">
                          <div class="image"><img src="{{obj.image}}" alt="tattoo images"></div>
                          <div class="card-details">
                          <p>{{obj.description}}</p>
                          </div>
                        </div>
                        
                        
                  </div> 
                   <div class="select-card-first" *ngIf="!obj.image">
                    <p>Please select a card to display information and respond</p>
                  </div> 
            </div>
           
          
          </div>  

    </section>
  </main>

</ion-content>
