@media only screen and (max-width: 600px) {
    .aside-container {
         flex-basis: 10%;
         flex-direction: row;
         justify-content: space-between;
     }
}
@media only screen and (min-width: 600px) {
    .aside-container {
           flex-basis: 10%;
           flex-direction: row;
           justify-content: space-between;
       }
}

@media only screen and (min-width: 768px) {
    .aside-container {
         flex-basis: 10%;
         flex-direction: row;
         justify-content: space-between;
     }
}

@media only screen and (min-width: 992px) {
    .aside-container {
           flex-basis: 10%;
       }
    }
    @media only screen and (min-width: 1200px) {
        .aside-container {
              flex-basis: 7%;
          }
        }      


.main {
    display: flex;
    height: 100%;
    width: 100%;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    
}
  .aside-container {
    padding: .5em;
    height: 100%;
    background: #D66E53;
    display: flex;
    flex-direction: column;
    align-items: center;
}