
<ion-content>
  <main class="main">
     <aside class="aside-container">
        <div class="profile-container">
            <div class="profile"><img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo" (click)="goProfilePage()"></div>
          <p class="paragragh">Admin</p>
          </div>
          <div class="notifation">
              <ion-button shape="block" color="light" size="large" fill="clear">
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              <ion-badge class="badge" color="light">{{notifications}}</ion-badge>
          </div>
       

          <ion-button shape="block" color="light" size="large" fill="clear" (click)="home()">
            <ion-icon name="home"></ion-icon>
          </ion-button>


    </aside>
    <section class="content-container"> 
        <header class="header">
            <h1 class="first-header">All Requests</h1>
          </header>
          <div class="sub-container">


           

            <div class="booking-container" >
                <div class="booking-container" >
                    <!--   <div class="no-bookings">
                       <p>You have no bookings yet.</p>
                     </div>   -->
                 <p style="font-size: 80%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis impedit amet doloribus reprehenderit quisquam sunt corporis nisi labore consequatur consectetur nesciunt, quia iste corrupti necessitatibus illo velit eos quod esse.</p>
                     <div class="bookings-list">
                                          <div class="booking-item" *ngFor = "let item of Bookings; let i = index" (click)="save(item, i)">
                                              <div class="tattoo-booking-image"><img src="{{item.obj.image}}" alt=""></div>
                                              <div class="info-booking">
                                              <p class="description">{{item.obj.description | slice: '40'}}</p>                                           
                                              <p>Breadth:{{item.obj.breadth}}cm</p>
                                              <p>Length:{{item.obj.length}}cm</p>
                                             </div>
                                           <div class="call-booking">
                                        <ion-fab-button class="fab-btn" size="small" color="success" (click)="call(item.obj.number)">
                                    <ion-icon style="font-size: 2.5vh;" name="call"></ion-icon>
                                 </ion-fab-button>
                              </div>
                            </div>
                      </div> 
                
                    
                   </div>
            </div>


            <div class="respond-container">
                 <div class="calendar-container"  *ngIf="obj.image"> 

                   <div class="month">
                    <h4>Pick a day in which you will be available</h4>
                    <div class="displayFormat">
                      <div class="changeMonth">
                          <p class="displayMonth">{{event.startTime | date: 'longDate'}}</p>
                      </div>
                      
                    </div>
                   </div>
                     <ion-row>
                   
                       <ion-col col-5 class="holder-calendar">
                       
                          <calendar
                          [eventSource]="eventSource" 
                          [calendarMode]="calendar.mode" 
                          [currentDate]="calendar.currentDate"
                          (onEventSelected)="onEventSelected($event)"
                          (onTitleChanged)="onViewTitleChanged($event)"
                          (onTimeSelected)="onTimeSelected($event)" 
                          startHour="6"
                          endHour="20"
                          step="30"
                          [lockSwipeToPrev]="lockSwipeToPrev"
                          startingDayWeek="1">
                          </calendar> 
                       </ion-col>
                     </ion-row> 
              

                    
                    
              
                     <ion-item>
                        <ion-label position="floating">Start</ion-label>
                        <ion-datetime displayFormat="MMMM DDD YYYY HH:mm" pickerFormat="MMMM DDD YYYY HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
                     
                      </ion-item>
              
                      <ion-item>
                        <ion-label position="floating">End</ion-label>
                        <ion-datetime displayFormat="MMMM DDD YYYY HH:mm" pickerFormat="MMMM DDD YYYY  HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
                      </ion-item>
                      <ion-item style="margin-bottom: 3em;">
                        <ion-label position="floating" >Price</ion-label>
                        <ion-input type="tel" [(ngModel)]="price">R</ion-input>
                      </ion-item>
                     <ion-button class="btn-respond" shape="block" color="secondary" (click)="addEvent()">Respond</ion-button>
                  </div>
      
                  <div class="details-profile" *ngIf="obj.image">
                      <div class="profile-container">
                          <div class="profile"><img src="{{obj.image}}" alt="tattoo" (click)="goProfilePage()"></div>
                        <p class="paragragh" style="color: rgb(80, 80, 80)">{{obj.customerName}}</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fuga odit eius corporis porro, laudantium at tenetur incidunt, mollitia deserunt dignissimos alias atque voluptates amet minus. Rem adipisci consequatur modi?</p>
                        <ion-card class="card-tattoos">
                          <div class="tattoo-image-profile">
                            <img src="{{obj.image}}" alt="tattoo images">
                          </div>
                            <ion-card-header>
                             {{obj.tattoName}}
                            </ion-card-header>
                            <ion-card-content>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam odio ut nulla illum omnis tempore, at magnam, esse vero architecto, quo mollitia suscipit culpa corrupti! Asperiores reiciendis labore consequatur nobis?
                            </ion-card-content>
                        </ion-card>
                  </div> 
                   <div class="select-card-first" *ngIf="!obj.image">
                    <p>Please select a card to display information and respond</p>
                  </div> 
            </div>
           
          
          </div>  

    </section>
  </main>
<!-- 
  <div class="container">

    <div class="list">

      <ion-list>
       <ion-item *ngFor = "let item of Bookings" >
          <div class="person" (click)="displayData(item)">
              name : {{item.description}}<br />
              surname: {{item.name}}
                  </div>
       </ion-item>
      </ion-list>
      
    </div>



    <div class="cal">
  <div class="calender">

    <h4>Pick a day in which you will be available</h4> -->
 <!-- 
  <ion-row>
     Change the displayed calendar mode 
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Day</ion-button>
    </ion-col>
 
    Move back one screen of the slides
    <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
 
    Move forward one screen of the slides
    <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> 
 
   <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
 </calendar>  -->
 <!-- 
    Card for adding a new event
   <ion-card> 
       <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>New Event</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="!collapseCard"> -->
   
        <!-- <ion-item>
          <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
        </ion-item> -->

        <!-- <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item> -->

        <!-- <ion-item>
          <ion-label>All Day?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item> -->


        <!-- [disabled]="event.title == ''" -->
        <!-- <input type="text" placeholder="Enter price">
        <ion-button fill="outline" expand="block" (click)="addEvent()" >Respond</ion-button>
   
      </ion-card-content>
    </ion-card>
 
  </div>

  <div class="personDetails">
<p *ngIf = ClickedObjeck.description>name : {{ClickedObjeck.description}}</p><br />
<p *ngIf = ClickedObjeck.name>Surname : {{ClickedObjeck.name}}</p>
  </div>
    </div>


  </div> 


-->
</ion-content>
