
<ion-content>

  <div class="loader" *ngIf="loader">
    <div class="loader-1">
      
    </div>
  </div>
  <main class="main">

  

    <div class="full_r animated zoomIn" *ngIf="fullscreen">
      <div class="btn-close">
        <ion-button fill="clear" size="large" color="light" (click)="animateClose()"><ion-icon size="large" name="ios-close"></ion-icon></ion-button>
      </div>
      <div class="full-i_r">
        <img src="{{obj.image}}" alt="tattoo">
      </div>
    </div>



     <aside class="aside">
      <div class="profile-container" (click)="goProfilePage()">
      <div class="profile-img-blick" >
        
        <img *ngIf="!image1" src="../../../assets/person-icon.jpg" alt="Image Not Available" >

        <img  *ngIf="image1" src="{{image1}}" alt="Image Not Available" >
      
      </div>
          <p class="paragragh">Admin</p>
          </div>


          <!-- <div class="notifation">
            <ion-button  (click)="home()" shape="block" color="light" size="large" fill="clear">
              <ion-icon mode="ios" name="home"></ion-icon>
              </ion-button>
            
          
        </div> -->

        

        <div class="notifation">
          <ion-button  (click)="home()" shape="block" color="light" size="large" fill="clear">
            <ion-icon mode="ios" name="home"></ion-icon>
            </ion-button>
        
      </div>
      
      <div class="notifation">
        <ion-button shape="block" color="light" fill="clear" size="large" (click)="goToNotificationsPage()">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        <ion-badge class="badge" *ngIf="notifications > 0" color="danger">{{notifications}}</ion-badge>
    </div>
      
      
      <div class="notifation">
        <ion-button (click)="viewMessages()" shape="block" color="light" size="large" fill="clear">
          <ion-icon name="ios-chatbubbles"></ion-icon>
          </ion-button>
        <ion-badge class="badge" *ngIf="messages > 0" color="warning">{{messages}}</ion-badge>
    </div>
          <!-- <div class="notifation">
              <ion-button shape="block" color="light" size="large" fill="clear">
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              <ion-badge class="badge" color="light">{{notifications}}</ion-badge>
          </div> -->




    </aside>
    <section class="container"> 
      <div class="header-container">
        <h1 class="h1-header">My Notifications</h1>
      </div>
          <div class="sub-container">


           

                <div class="booking-container">
                  <div class="header_">
                  <p class="p_header">All the request made so far...</p>
                  <ion-badge>{{Bookings.length}}</ion-badge> 
                  </div>
                    
                <div class="bookings-list">
                                          <div class="booking-item" *ngFor = "let item of Bookings; let i = index;"[ngClass]="{'active animated pulse': active==i}">
                                              <div class="tattoo-booking-image"  (click)="save(item.obj, i, item.id)" ><img src="{{item.obj.image}}"  [ngClass]="{'active': active==i}" alt=""></div>
                                              <div class="info-booking"  (click)="save(item.obj, i, item.id)" >
                                              <!-- <p class="description">{{item.obj.description }}</p>      -->                                      
                                              <div class="measure">
                                                <p><strong>Tattoo size</strong></p>
                                                <p>{{item.obj.sizes}}</p>
                                              </div>
                                              <div class="measure">
                                                <p><strong>additional colors</strong> </p>
                                               <p *ngIf="item.obj.color == 'yes'">Included</p>
                                               <p *ngIf="item.obj.color == 'no'">Not Included</p>
                                               <p *ngIf="item.obj.color == ''">Not specified</p>
                                              </div>
                                              <!-- <div class="measure">
                                                <p>Dates: 02/03/2020</p>
                                              </div> -->
                                             </div>
                                           <!--   <div class="btn-chat">
                                              <ion-fab-button size="small" mode="ios" (click)="chatNow()"><ion-icon mode="ios" name="chatbubbles"></ion-icon></ion-fab-button>
                                            </div>   
                                     -->
                            </div>

                            




                            <div class="select-card-first" *ngIf="Bookings.length == 0">
                              <img src="../../../assets/icon/3024050.png" alt="" width="50px">
                              <p>You do not have any Notifications.</p>
                            </div> 
                      </div> 
                
                    
                   </div>
    


            <div class="respond-container">

              <div class="details-profile animated zoomIn" *ngIf="obj.image">
                
                  <div class="card-r">
         
                    <div class="image-r">
                      
                    <!-- <img *ngIf="!obj.image"src="../../assets/person-icon.jpg" alt="tattoo images">  -->
                    <img  src="{{obj.image}}" alt="tattoo images"> 

                    <div class="fullscreen">
                      <ion-fab-button mode="ios" (click)="animateClose()" size="small" color="secondary">
                        <ion-icon name="qr-scanner"></ion-icon>
                      </ion-fab-button>
                    </div>
                   
                      <div class="profile-container-r">
                        <img *ngIf="!obj.UserImage"src="../../assets/person-icon.jpg" alt="tattoo images"> 
                       <img *ngIf="obj.UserImage" src="{{obj.UserImage}}" alt="tattoo images"> 
                       
                      <p class="paragragh" style="color: rgb(80, 80, 80)">{{obj.customerName}}, Phone : {{obj.number}}</p>
                      </div>
                    </div>
                    <div class="card-details">
                     <div class="measure">
                     <p><strong>Tattoo size : {{obj.sizes }}</strong> </p>
                     <p><strong> <span *ngIf="obj.color =='yes'">(Include Colors)</span><span *ngIf="obj.color =='no'">(Exclude Colors)</span></strong></p>
                     </div>
                   <p class="p_r">
                     {{obj.description}} </p> 
                  </div>
                  <div class="continue">
                    <ion-button mode="ios" expand="block" shape="round" (click)="respondFunc()" size="small" color="danger">
                      Cancel
                    </ion-button>
                    <ion-button mode="ios" expand="block" shape="round" (click)="continueFunc()" size="small" color="primary">
                      Continue
                    </ion-button>
                  </div>
                  </div>
                  
                  
            </div>
           
                 <div class="calendar-container animated zoomIn" *ngIf="obj.image"> 
                   <div class="header_" style="width: 100%; z-index: 10;">
                    <ion-button class="btn-close_r" mode="ios" expand="block" shape="round" size="small" fill="clear" (click)="cancelFunction()" size="small" color="danger">
                      Cancel
                    </ion-button>
                     <p class="p_header">Manage your Days</p>
                   </div>
                    <div class="calender">
                      <div class="month">
                          <div class="header_man">
                            <h4>Pick a day in which you will be available</h4>
                          </div>
                        <div class="displayFormat">
                          <div class="changeMonth">
                              <p class="displayMonth">{{event.startTime | date: 'longDate'}}</p>
                          </div>
                          
                        </div>
                       </div>
                       <ion-row justify-content-center>
                   
                        <ion-col size="12" class="holder-calendar">
                        
                           <calendar
                           [lockSwipeToPrev]="lockSwipeToPrev"
                           [eventSource]="eventSource" 
                           [calendarMode]="calendar.mode" 
                           [currentDate]="calendar.currentDate"
                           (onEventSelected)="onEventSelected($event)"
                           (onTitleChanged)="onViewTitleChanged($event)"
                           (onTimeSelected)="onTimeSelected($event)" 
                           startHour="6"
                           endHour="20"
                           step="30"
                           [lockSwipeToPrev]="lockSwipeToPrev"
                           startingDayWeek="1">
                           </calendar> 
                           
                        </ion-col>
                      </ion-row> 
                      <ion-row justify-content-center [formGroup]="tattooForm">
                          <ion-col  size="12">
                            <ion-item>
                              <ion-label position="floating">Start Date</ion-label>
                              <ion-datetime displayFormat="MMMM DDD YYYY HH:mm" pickerFormat="MMMM DDD YYYY HH:mm" [(ngModel)]="event.startTime" formControlName="startTime" [min]="minDate"></ion-datetime>
                              <ion-icon  size="small" slot="end" name="ios-calendar"></ion-icon>
                            </ion-item>
                            <div class="error" *ngFor="let validate of validation_messages.startTime">
                              <div class="messages" *ngIf="tattooForm.get('startTime').hasError(validate.type) && (tattooForm.get('startTime').dirty || tattooForm.get('startTime').touched)">
                                {{validate.message}}
                            </div>
                            </div>
                          </ion-col>
                          <ion-col  size="12">
                            
                            <ion-item>
                              <ion-label position="floating">End Date</ion-label>
                              <ion-datetime displayFormat="MMMM DDD YYYY HH:mm" pickerFormat="MMMM DDD YYYY  HH:mm" [(ngModel)]="event.endTime" formControlName="endTime" [min]="minDate"></ion-datetime>
                              <ion-icon size="small" slot="end" name="ios-calendar"></ion-icon>
                            </ion-item>
                            <div class="error" *ngFor="let validate of validation_messages.price">
                              <div class="messages" *ngIf="tattooForm.get('endTime').hasError(validate.type) && (tattooForm.get('endTime').dirty || tattooForm.get('endTime').touched)">
                                {{validate.message}}
                            </div>
                            </div>
                          </ion-col>
                          <ion-col size="12">
                            <ion-item style="margin-bottom: 2em;">
                              <ion-label position="floating" >Price</ion-label><br>
                              <ion-input type="tel"  [(ngModel)]="price" formControlName="price" onKeyPress="if(this.value.length==5) return false;">R</ion-input>
                            </ion-item>
                            <div class="error" *ngFor="let validate of validation_messages.price">
                              <div class="messages" *ngIf="tattooForm.get('price').hasError(validate.type) && (tattooForm.get('price').dirty || tattooForm.get('price').touched)">
                                {{validate.message}}
                            </div>
                            </div>
                          </ion-col>
                          <ion-col size="5"> 
                            <ion-button class="btn-respond" shape="round" expand="block" mode="ios" color="success" (click)="addEvent()" [disabled]="!tattooForm.valid">Respond</ion-button>
                          </ion-col>
                     
                      </ion-row>
                     
                   
                    
                    </div>
                  
                     
              

                    
                    
              
                 
                  </div>
      
                   
                   <div class="select-card-first" *ngIf="!obj.image">
                    <p>Please select a card to display information and respond</p>
                  </div> 
            </div>
           
          
          </div>  

    </section>
  </main>

</ion-content>
