

<ion-content>
    
<ion-content>
    <div class="loader" *ngIf="loader">
        <div class="lds-ellipsis"><div></div><div></div><div></div></div>
      </div>
  <main class="main">
    <aside class="aside-container">
       <div class="profile-container">
           <div class="profile"><img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo"></div>
         <p class="paragragh">Admin</p>
         </div>
         <div class="notifation">
             <ion-button shape="block" color="light" fill="clear" (click)="goToNotificationsPage()">
                 <ion-icon name="notifications-outline"></ion-icon>
               </ion-button>
             <ion-badge class="badge" color="light">{{notifications}}</ion-badge>
         </div>
      
   </aside>
   <section class="content-container"> 
       <header class="header">
           <h1 class="first-header">Admin Profile</h1>
           <ion-button color="secondary" (click)="logout()">
             <ion-icon name="log-out"></ion-icon> Logout
           </ion-button>
         </header>
         <div class="sub-container">
           <div class="top-profile">
              <div class="profiles-info">

                  <div   class="profile" style="height: 20vh; width: 20vh;">
                    <ion-fab-button class="btn-edit-image" color="light" size="small" >
                      <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                    <img src="../../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="tattoo" (click)="goProfilePage()"></div>
                    <article>
                    <h4>Name : {{ profile.name}}</h4>
                    <p>{{ profile.email}}</p>
                    <p>Address : {{ profile.address}}</p>
                    <p>Phone Number : {{ profile.phone}}</p>
                    </article>
                   
                  </div>
              <ion-fab-button class="edit"  color="success" size="large" (click)="presentModal()" >
                <ion-icon name="create"></ion-icon>
              </ion-fab-button>
           </div>


            <div class="upload-contract">
              <h1>Upload a Contract for your Users</h1>
              <p class="policy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima dolore qui necessitatibus officia vero voluptatibus, officiis perferendis tempora nesciunt asperiores, sint corrupti unde maiores consequatur, sequi error consequuntur deleniti doloribus!</p>
              <ion-input class="pdf-upload"  type="file" accept="pdf/*" (change)="changeListener($event)"></ion-input>
            </div>
            <div class="list-contract">
              <div class="btn-download">

                  <!-- <ion-fab-button color="success" (click)="download()"><ion-icon name="download"></ion-icon></ion-fab-button> -->


                <p>{{profile.pdf}}</p>
              
                <ion-button fill="clear" color="secondary" size="large" (click)="DeleteData()"><ion-icon name="trash"></ion-icon></ion-button>

              </div>
            
            </div>
           </div>
       </section>
    </main>
</ion-content>
