<ion-content>
  <div class="loader" *ngIf="loader">
    <div class="loader-1">
      
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios" color="success" size="small" (click)="presentModal()" >
      <ion-icon size="small" name="ios-create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <main class="main">
    <div class="full_r animated zoomIn" *ngIf="fullscreen">
      <div class="btn-close">
        <ion-button fill="clear" size="large" color="light" (click)="animateClose('')"><ion-icon size="large" name="ios-close"></ion-icon></ion-button>
      </div>
      <div class="full-i_r">
        <img src="{{fullScreenImage}}" alt="tattoo">
      </div>
    </div>
    <aside class="aside">
       <div class="profile-container">
           <div class="profile-img-blick">
             
            <img *ngIf="!image1" src="../../../assets/person-icon.jpg" alt="Image Not Available" >
            <img  *ngIf="image1" src="{{image1}}" alt="Image Not Available" >
          
          </div>
         <p class="paragragh">Admin</p>
         </div>
         <div class="notifation">
             <ion-button shape="block" color="light" size="large" fill="clear" routerLink="/landing">
                 <ion-icon size="large" name="ios-home"></ion-icon>
               </ion-button>
         </div>
      
   </aside>
   <section class="content-container"> 
       <header class="header">
           <h1 class="first-header">Admin Profile</h1>
           <ion-button mode="ios" size="small" color="secondary" (click)="logout()">
             <ion-icon name="log-out"></ion-icon> Logout
           </ion-button>
         </header>
         <div class="sub-container">
           <div class="top-profile_c">
            
                
                    <div class="profile_c">
                      <!--  <ion-fab-button class="btn-edit-image" color="light" size="small" >
                         <ion-icon name="create"></ion-icon>
                       </ion-fab-button> -->
                       <div class="wr">
                        <img *ngIf="!image1" src="../../../assets/person-icon.jpg" alt="Image Not Available" >
   
                        <img  *ngIf="image1" src="{{image1}}" alt="Image Not Available" >
                       </div>
                     
                     </div>
                       <div class="profile-information">
                       <h4> {{ profile.name}}</h4>
                       <p>{{ profile.email}}</p>
                       <p>Address : {{ profile.address}}</p>
                       <p>Phone Number : {{ profile.phone}}</p>
                       </div>
             
                 
                       <div class="list-contract">
                        <ion-icon size="large" color="secondary" name="ios-document"></ion-icon>
                            <!-- <ion-fab-button color="success" (click)="download()"><ion-icon name="download"></ion-icon></ion-fab-button> -->
                          <p>Contract Form</p>
                        
                          <ion-button fill="clear" color="secondary" size="large" (click)="DeleteData()"><ion-icon name="ios-trash"></ion-icon></ion-button>
                       
                      
                      </div> 
                
            
           </div>
           <div class="list_g">
              <div class="segment_g">
                <ion-segment [(ngModel)]="category" color="primary">
          
                  <ion-segment-button value="pending">
                   
                    <div class="grow">
                      <ion-badge color="primary">{{Pending.length}}</ion-badge>
                      <ion-label>Pending Responses</ion-label>
                      
                    </div>
                    
                  </ion-segment-button>
                  <ion-segment-button  value="users">
                    <div class="grow">
                      <ion-badge color="tertiary">{{Users.length}}</ion-badge>
                      <ion-label>All Users</ion-label>
                      
                    </div>
                  </ion-segment-button>
                </ion-segment>
              </div>
              <div class="item_g_c" [ngSwitch]="category">
                <div class="item_c" *ngSwitchCase="'pending'">
                 <!--  <div class="item_g_no_messages">
                    <p>You do not have users</p>
                  </div> -->
                  
    <div class="item_r_f" *ngFor="let pending of Pending;">
      <div class="fullscreen">
          
        <ion-fab-button mode="ios" (click)="animateClose(pending.image)" size="small" color="secondary">
          <ion-icon name="qr-scanner"></ion-icon>
        </ion-fab-button>
      
      </div>
      customerName
                    
      <img src="{{pending.image}}" alt="">
      <div class="pending_r">
          <p>{{ pending.bookingState}}</p>
        <div class="dates">
          <!-- <p>Breadth:  {{ pending.breadth}}</p> -->
          <p>Name: {{ pending.customerName}}</p>
          <p>Number: {{ pending.number}}</p>
        </div>
      </div>
  </div>
                </div>
                <div class="item_c" *ngSwitchCase="'users'">
                <!--     <div class="item_g_no_messages_users">
                     <p>You do not have users</p>
                   </div>  -->
                   <!-- <div class="item_r_f">
                    
                    <img src="../../../assets/person-icon.jpg" alt="">
                   
                    <div class="pending_r_user">
                      <div class="scre_user">
                          <div class="y_r">
                            <p>Booked</p>
                            <ion-badge color="secondary">34</ion-badge>
                          </div> 
                
                          <div class="y_r">
                            <p>Accepts</p>
                            <ion-badge color="success">3</ion-badge>
                          </div>
                          <div class="y_r">
                            <p>Denied</p>
                            <ion-badge color="danger">3</ion-badge>
                          </div>
                     
                    
                      </div>
                      <div class="name">
                           
                      </div>
              
                    </div>
                </div> -->
                <div class="item_r_f users"  *ngFor="let all of Users;">
                    
         
                  <img *ngIf="!all.image" src="../../../assets/person-icon.jpg">
   
                  <img  *ngIf="all.image" src="{{all.image}}" alt="Image Not Available" >
              
                 
                  <div class="pending_r_user">
                    <div class="scre_user">
                        <div class="y_r">
                        
                          <!-- <ion-badge color="secondary">34</ion-badge> -->
                        </div> 
              
                        <div class="y_r">
                          
                          <!-- <ion-badge color="success">3</ion-badge> -->
                        </div>
                        <div class="y_r">
                       
                 
                        </div>
                   
                  
                    </div>
                    <div class="name">
                      <p>Name: {{ all.name}}</p>
                      <p>Number: {{ all.number}}</p>
                      <p>Email: {{ all.email}}</p>
                    </div>
            
                  </div>
              </div>
              
            
            
               </div>
              </div>
          </div>
               
<div class="upload-contract">
              <h4>Upload a Contract for your Users</h4>
              <p class="policy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima dolore qui necessitatibus officia vero voluptatibus, officiis perferendis tempora nesciunt asperiores, sint corrupti unde maiores consequatur, sequi error consequuntur deleniti doloribus!</p>
              
              <label class="fileContainer">
                <ion-icon size="large" name="add"></ion-icon> Click to upload your Contract Here
                <input type="file" accept="pdf/*" (change)="changeListener($event)"/> 
            </label>
            </div>
           
        
           </div>
       </section>
    </main>
</ion-content>