<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

   

    name: <input type="text" [(ngModel)]="name" placeholder="{{name}}"><br />
    phoneNumber: <input type="text" [(ngModel)]="phoneNumber" placeholder="{{phoneNumber}}"><br />
    email: <input type="text" [(ngModel)]="email" placeholder="{{email}}"><br />
    <button (click)="goToEditPage()">Edit</button> 

    <button (click)="upload()">UploadPdf</button>
    <app-multi-file-upload></app-multi-file-upload>

</ion-content>
