
*, *::before, *::after {
    box-sizing: border-box;
}
.main, .booking-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    background: #f2f2f2;
    position: relative;

    .full_r {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        z-index: 500;
        background: rgba(3, 3, 3, 0.529);

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: inherit;

        }

        .full-i_r {
            flex-basis: 90%;
            height: 90%;
            position: relative;

            img {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

ion-badge {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;

}

.aside {
    flex-basis: 4%;
    position: relative;
    background: #D66E53;


    &::after {
        position: absolute;
        content: '';
        top: 0;
        height: 60%;
        left: 0;
        width: 100%;
        border-radius: 0 0 150px 0%;
        background: linear-gradient(90deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
        z-index: 2;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        height: 62%;
        left: 0;
        width: 100%;
        border-radius: 0 0 150px 0%;
        background: linear-gradient(30deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
        z-index: 1;
    }

    & > * {
        position: relative;
        z-index: 3;
    }
}
.notifation {
    position: relative;

}
.badge {
    position: absolute;
    top: 15%;
    right: 25%;
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    height: 19px;
    width: 19px;
    border-radius: 50px;
   
}
.profile-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3em;
    color: #fff;

}
.profile-img-blick {
    width: 6vh;
    height: 6vh;
    border-radius: 50px;
    overflow: hidden;
   
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}
.content-container {
    flex-basis: 96%;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
}
.header {
    flex-basis: 30%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    background: url('../../../assets/allef-vinicius-hxNiXP498UI-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    
    

}
.first-header {
    font-size: 30px;
    margin: 0 !important;
    /* padding-left: 1em; */
    font-weight: bolder;
    color: #fff;
}
.header-booking {
    flex-basis: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.bookings-header {
    font-size: 20px !important;
}

.sub-container {
    flex-basis: 70%;
    
    display: flex;

    .top-profile_c {
        flex-basis: 20%;
        box-shadow: 0 0 3px #ddd;
        background: #fff;
       
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
       


        .profile_c {
            flex-basis: 10%;
            position: relative;

            .wr {
                position: absolute;
                width: 100%;
                height: 100%;
                top: -3vh;
                left: 0;
             
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
               height: 10vh;
               width: 10vh;
               border-radius: 50px;
               border: 5px solid #fff;
               object-fit: cover;

            }
        }

        .profile-information {
       
            flex-basis: 30%;
            text-align: center;

            h4, p {
                padding-left: 1em;
                padding-right: 1em;
                padding-bottom: 1em;
            }

          
        }

        .list-contract {
            flex-basis: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
          /*   margin-left: 1em; */
            background: rgba(204, 105, 66, 0.2);

            p{
                flex: 1;
                color: #686868;
                
            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                height: 100%;
                width: 3px;
                background: #D66E53;
            }
        }
       


     
    }

    .list_g {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;

        .segment_g {
            flex-basis: 8%;
        }

        .item_g_c {
            flex-basis: 92%;
            
            display: flex;
            justify-content: center;

            .item_c {

                flex-basis: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                display: flex;
                position: relative;
                overflow-y: scroll;
                overflow-x: hidden;
                

                .item_g_no_messages {
                    flex-basis: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                }

                .item_r_f {
                    flex: 0 0 30%;
                    border-radius: 5px;
                    height: 50%;
                    margin: 1%;
                    position: relative;
                    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),  
                      -6px -6px 12px  rgba(255, 255, 255, 1);
                      overflow: hidden;
                      border-radius: 5px;

                      .fullscreen {
                          position: absolute;
                          top: 2%;
                          right: 2%;
                          z-index: 10;
                      }

                      img {
                          position: absolute;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                      }

                      .pending_r_user {
                        position: absolute;
                        z-index: 10;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.6);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        color: #fff;
                        padding: 1em; 

                        display: flex;
                        flex-direction: column;

                      }
                      .scre_user {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            .y_r {
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                align-items: center;
                                flex-direction: column;
                            }

                           
                        

                      }

                      .pending_r {
                          position: absolute;
                          z-index: 10;
                          bottom: 0;
                          left: 0;
                          height: 40%;
                          width: 100%;
                          background: rgba(0, 0, 0, 0.6);
                          display: flex;
                          flex-direction: column;
                          justify-content: space-between;
                          color: #fff;
                          padding: 1em;
                          .scan_r {
                              display: flex;
                              justify-content: space-between;
                          

                           /*    .fullscreen {
                                  position: absolute;
                                  top: -10%;
                                  right: 1%;

                              } */
                          }

                          p {
                              flex: 1;
                          }

                          .dates {
                              display: flex;
                              flex-wrap: wrap;
                              flex: 1;

                              p {
                                  flex-basis: 50%;
                                  /* text-align: right; */

                               
                              }
                          }
                      }
                }


            }

            .item_c_user {
                flex-basis: 100%;
                flex-direction: column;
                flex-wrap: wrap;
                display: flex;
                position: relative;
                overflow-y: scroll;
                overflow-x: hidden;
                .item_g_no_messages_users{
                    flex-basis: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                }

                .item_r_user {
                    flex: 0 0 100%;
                   /*  height: 10vh; */
                    margin: 1%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.1),  
                    inset  -6px -6px 12px  rgba(255, 255, 255, 1);
                    

                    img {
                        height: 10vh;
                        width: 10vh;
                        border-radius: 50px;
                    }
                    .pending_r_user {
                        background: #fff;
                        padding-left: 1em;
                        border-radius: 0 50px 50px 0;
                        padding-top: .5em;
                        padding-bottom: .5em;
                        padding-right: .5em;
                    }

                }

            }
        }

    }

    .grow {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .upload-contract {
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        text-align: center;
        margin: 1%;
        & > * {
            margin-bottom: 1em;
        }
        h1 {
            font-size: 21px;
        } 

     
        
    }


    
}

.fileContainer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

ion-segment {
    padding: .5em;
}


@media all and (max-width: 600px) {



    ion-label {
        font-size: 70% !important;
    }

    .list_g {
        flex: 0 0 40%;
    }
    .item_c {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        flex-wrap: nowrap !important;
        align-items: center;
        padding: 1em;

    }
    .item_r_f {
        flex: 0 0 80% !important;
        height: 80% !important;
    }

    h4 {
        font-size: 1em;
    }

  p {
      font-size: 70% !important;
  }


    .fileContainer {
        font-size: 70% !important;
        padding: .4em !important;
    }


    .content-container {
        overflow-x: hidden;
        overflow-y: scroll;

        
    .upload-contract  {

        p {
            width: 100%;
        }

    }
    }

    .sub-container {
        .top-profile_c {
            .profile_c {
                .wr {
                    justify-content: flex-end;
                    top: -1vh;
                    padding: 1em;
                }
            }
        }
    }

    

   

   
 
    .main, .sub-container {
        flex-direction: column;
    }

    .respond-container {
        display: none;
    }

    .header {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: .8em;

        .first-header {
            font-size: 17px;
        }
        
    }

  

    .image {
        position: relative;
        height: 100%;
        width: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }
    }

    .badge {
        position: absolute;
        top: 15%;
        right: 20%;
        padding: .2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 19px;
        width: 19px;
        border-radius: 50px;
    }
  
    .gragh-container {
        flex-basis: 60%;
        padding: 2em;
    }
   
   .main{
       flex-flow: column nowrap;
   }
      .aside {
           flex-basis: 4%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
         flex-wrap: wrap;
         height: 100%;
        
       }
       .profile-container {
           flex: 1;
           flex-direction: row;
           display: flex;
           align-items: center;

    
           .profile {
               height: 5vh;
               width: 5vh;
               margin-right: 5%;
           }
       }

   .header-container, .header-booking {
       justify-content: center;
    }
   .h1-header {
       font-size: 17px;
       text-align: center;
       padding: 0 !important;
   }
   .bookings-header {
    font-size: 14px !important;
    text-align: center;
    padding: 0 !important;
   }
  
   

  }

  @media only screen and (min-width: 768px) {
    .item_c {
        justify-content: space-between;

    }
 
  .item_r_f {
      flex: 0 0 100% !important;
  }
  }


  @media only screen and (min-width: 1024px) {
      .item_c {
          justify-content: space-between;

      }
   
    .item_r_f {
        flex: 0 0 47% !important;
    }
}

@media only screen and (min-width: 1200px) {
   
    .main {
        display: flex;
    }
    .item_c {
        justify-content: space-between;

    }
 
  .item_r_f {
      flex: 0 0 47% !important;
  }
}

@media only screen and (min-width: 1400px) {
    .main {
        display: flex;
    }
    .item_c {
        justify-content: space-between;

    }
 
  .item_r_f {
      flex: 0 0 30% !important;
  }
}



