
*, *::before, *::after {
    box-sizing: border-box;
}
.main, .booking-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    background: #f2f2f2;
    position: relative;
}

.aside {
    flex-basis: 4%;
    position: relative;
    background: #D66E53;


    &::after {
        position: absolute;
        content: '';
        top: 0;
        height: 60%;
        left: 0;
        width: 100%;
        border-radius: 0 0 150px 0%;
        background: linear-gradient(90deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
        z-index: 2;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        height: 62%;
        left: 0;
        width: 100%;
        border-radius: 0 0 150px 0%;
        background: linear-gradient(30deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
        z-index: 1;
    }

    & > * {
        position: relative;
        z-index: 3;
    }
}
.notifation {
    position: relative;

}
.badge {
    position: absolute;
    top: 15%;
    right: 25%;
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    height: 19px;
    width: 19px;
    border-radius: 50px;
   
}
.profile-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3em;
    color: #fff;

}
.profile-img-blick {
    width: 6vh;
    height: 6vh;
    border-radius: 50px;
    overflow: hidden;
   
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}
.content-container {
    flex-basis: 96%;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
}
.header {
    flex-basis: 30%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    background: url('../../../assets/allef-vinicius-hxNiXP498UI-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    
    

}
.first-header {
    font-size: 30px;
    margin: 0 !important;
    /* padding-left: 1em; */
    font-weight: bolder;
    color: #fff;
}
.header-booking {
    flex-basis: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.bookings-header {
    font-size: 20px !important;
}

.sub-container {
    flex-basis: 70%;
    
    display: flex;

    .top-profile_c {
        flex-basis: 20%;
        box-shadow: 0 0 3px #ddd;
        background: #fff;
       
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
       


        .profile_c {
            flex-basis: 10%;
            position: relative;

            .wr {
                position: absolute;
                width: 100%;
                height: 100%;
                top: -3vh;
                left: 0;
             
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
               height: 10vh;
               width: 10vh;
               border-radius: 50px;
               border: 5px solid #fff;
               object-fit: cover;

            }
        }

        .profile-information {
       
            flex-basis: 30%;
            text-align: center;

            h4, p {
                padding-left: 1em;
                padding-right: 1em;
                padding-bottom: 1em;
            }

          
        }

        .list-contract {
            flex-basis: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
          /*   margin-left: 1em; */
            background: rgba(204, 105, 66, 0.2);

            p{
                flex: 1;
                color: #686868;
                
            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                height: 100%;
                width: 3px;
                background: #D66E53;
            }
        }
       


     
    }

    .upload-contract {
        flex-basis: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        text-align: center;
        margin: 1%;
        & > * {
            margin-bottom: 1em;
        }
        h1 {
            font-size: 21px;
        } 

        p {
            width: 60%;
        }
        
    }


    
}

.fileContainer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


@media all and (max-width: 600px) {


    .fileContainer {
        font-size: 1em !important;
    }


    .content-container {
        overflow-x: hidden;
        overflow-y: scroll;

        
    .upload-contract  {

        p {
            width: 100%;
        }

    }
    }

    .sub-container {
        .top-profile_c {
            .profile_c {
                .wr {
                    justify-content: flex-end;
                    top: -1vh;
                    padding: 1em;
                }
            }
        }
    }

    

   

   
 
    .main, .sub-container {
        flex-direction: column;
    }

    .respond-container {
        display: none;
    }

    .header {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: .8em;

        .first-header {
            font-size: 17px;
        }
        
    }

  

    .image {
        position: relative;
        height: 100%;
        width: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }
    }

    .badge {
        position: absolute;
        top: 15%;
        right: 20%;
        padding: .2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        height: 19px;
        width: 19px;
        border-radius: 50px;
    }
  
    .gragh-container {
        flex-basis: 60%;
        padding: 2em;
    }
   
   .main{
       flex-flow: column nowrap;
   }
      .aside {
           flex-basis: 4%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
         flex-wrap: wrap;
         height: 100%;
        
       }
       .profile-container {
           flex: 1;
           flex-direction: row;
           display: flex;
           align-items: center;

    
           .profile {
               height: 5vh;
               width: 5vh;
               margin-right: 5%;
           }
       }

   .header-container, .header-booking {
       justify-content: center;
    }
   .h1-header {
       font-size: 17px;
       text-align: center;
       padding: 0 !important;
   }
   .bookings-header {
    font-size: 14px !important;
    text-align: center;
    padding: 0 !important;
   }
  
   

  }

  @media only screen and (max-width: 768px) {
   
      .aside {

      }
  }





