
* { box-sizing: border-box;}
.mains {
    display: flex;
    height: 100%;
    width: 100%;
    animation-name: zoomIn;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: 1;
    /* background: #eaeaea; */

}
.error {
  color: #c00;
  font-size: 80%;
  width: 90%;
  margin: 2% auto;

}
.tattoo-image {
    position: relative;
    flex-shrink: 1;
    flex-grow: 0; 
    /* border-radius: 0 0 70px 0; */
    overflow: hidden;
 .tatto-pro {
     height: 100%;
     width: 100%;
     overflow: hidden;
     position: relative;
    /*  border-top: 4px solid rgba(0, 0, 0, 0.151);
     border-bottom: 4px solid rgba(0, 0, 0, 0.151); */
     box-sizing: border-box;
     img {
         height: 100%;
         width: 100%;
         object-fit: cover;
     }

     &::before {
       position: absolute;
       top: 2%;
       left: 2%;
       width: 96%;
       height: 96%;
       background: rgba(0, 0, 0, 0.336);
       content: '';
       z-index: 1;
       border-radius: 5px;
       box-shadow:  6px 6px 12px rgb(24, 24, 24),  
       -6px -6px 12px  rgb(29, 29, 29);
       
     }

     &::after {
       position: absolute;
       bottom: -10px;
       left: -10px;
       background: #fff;
       width: 20px;
       height: 20px;
       content: '';
       transform: rotate(45deg);
     }
 }
}
.login {
    width: 400px;
    flex-shrink: 0;
    flex-grow: 1; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::after {
      position: absolute;
      top: -10px;
      right: -10px;
      background: rgb(22, 22, 22);
      width: 20px;
      height: 20px;
      content: '';
      transform: rotate(-45deg);
    }
}

.logo {
    transform: translate(0px, -60px);
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.logo-spec {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
}
.btn-lo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.btn-login {
  box-shadow: none !important;
  border-radius: 6px;
  width: 50%;
  margin: 0 auto;

}

@media only screen and (max-width: 600px) {
   .main {
       display: flex;
   } 
   .tattoo-image {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
   }
   .login {
     width: 100%;
     
     
     
   }
   
}