<ion-header no-border>
  <ion-toolbar>
     
    <ion-title  style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #fff;padding-left: 1em;">Add a Tattoo</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button fill="clear" color="light">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <main class="main">
  
     <section class="upload-tattoo">
      <div class="upload">
       
            <label class="fileContainer">
              <ion-icon size="large" name="add"></ion-icon> Upload Here
              <input type="file" formControlName="image" accept="image/*" (change)="changeListener($event)"/> 
          </label>
         
 
        
    
       
      </div>
      <div class="image_r">
        <img *ngIf="!tattoo.image"  src="../../../assets/allef-vinicius-hxNiXP498UI-unsplash.jpg">
      <img *ngIf="tattoo.image"  src="{{tattoo.image}}">
      </div>
    </section> 
    <section class="form-container">
        <form [formGroup]="tattooForm">
            
            <ion-list>
                     <ion-item>
                        <ion-label position="floating">Tattoo Name</ion-label>
                        <ion-input formControlName="tattooName" type="text" name="name" [(ngModel)]="tattoo.name" placeholder="{{name}}"></ion-input>
                        <ion-icon slot="end" size="small" name="ios-add"></ion-icon>
                      </ion-item>
                      <p class="error" *ngIf="TattooName.hasError('required') && (TattooName.touched || TattooName.dirty)">Please enter Tattoo Name</p>  
                   <ion-item>
                        <ion-label position="floating">Price start at</ion-label>
                        <ion-input type="number" formControlName="startPrice"  name="priceRange"  [(ngModel)]="tattoo.startPrice"  placeholder="{{startPrice}}"></ion-input>
                        <ion-icon slot="end" size="small" name="ios-cash"></ion-icon>
                      </ion-item>
                      <p class="error" *ngIf="StartPrice.hasError('required') && (StartPrice.touched || StartPrice.dirty)">Please enter your minimum price</p>
                      <ion-item>
                        <ion-label position="floating">Price end at</ion-label>
                        <ion-input type="number" formControlName="endPrice"  name="priceRange"  [(ngModel)]="tattoo.endPrice"  placeholder="{{startPrice}}"></ion-input>
                        <ion-icon slot="end" size="small" name="ios-cash"></ion-icon>
                      </ion-item>
                      <p class="error" *ngIf="EndPrice.hasError('required') && (EndPrice.touched || EndPrice.dirty)">Please enter your maximum price</p>
                  <ion-item>
                          <ion-label>Categories</ion-label>
                          <ion-select formControlName="categories" name="categories" [(ngModel)]="tattoo.categories" >
                            <ion-select-option value="Previous work" >Previous work</ion-select-option>
                            <ion-select-option value="Sketch/design">Sketch/design</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <p class="error" *ngIf="Categories.hasError('required') && (Categories.touched || Categories.dirty)">Please enter categories</p>
                     <ion-item>
                            <ion-label position="floating">Description</ion-label>
                           <ion-textarea formControlName="description"  name="description"  autocorrect="on" rows="3" cols="20"  [(ngModel)]="tattoo.description" placeholder="{{description}}" ></ion-textarea>
                       </ion-item>
                       <p class="error" *ngIf="Description.hasError('required') && (Description.touched || Description.dirty)">Please enter your description</p>
                </ion-list>
                <ion-grid>
                  <ion-row justify-content-center>
                    <ion-col size="6">
                      <ion-button *ngIf="editButton" color="secondary" expand="block" shape="round" mode="ios" (click)="EditTattoo(tattooForm)">Edit</ion-button> 
                      <ion-button *ngIf="addTattoo" color="secondary" expand="block"  shape="round" mode="ios" (click)="addtattoo(tattooForm)">Add Tattoo</ion-button> 
                    </ion-col>
                  </ion-row>
                </ion-grid>
              
          
         
           
        </form>
    </section>
  </main>
  
  
 
</ion-content>