
<ion-content>

  <div class="list">

    <div class="read-not-container">
      <ion-toolbar>
        <div class="searchbar">
          <ion-searchbar mode="md" class="searchbar-input" no-border></ion-searchbar>
        </div>
       </ion-toolbar>
      <div class="messages">
       
        <div class="item" *ngFor = "let message of MyMessages; let i=index;" (click)="updateMessage(message.obj.uid, message.id, message.obj, i)" [ngClass]="{'active': active == i, 'fontBig': message.stat=='NotRead', 'fontSmall': message.stat=='Read'}">
          <div class="statuss" [ngClass]="{'notRead': message.stat=='NotRead', 'Read': message.stat=='Read'}"></div>
          <div class="profile-list">
            <img src="../../assets/2837077.jpg" alt="">
          </div>
          <div class="info">
            <p>{{message.obj.name}}</p>
            <p>{{message.obj.time}}</p>
          </div> 
         
        </div>
        
        
      </div>
    </div>
   
  

    <div class="content-messages animated slideInUp">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
         <div class="pro-main">
           <div class="profile">
            <img src="../../assets/2837077.jpg" alt="">
            </div>
            <div class="names">
              <p style="font-weight: bold;">Muenda Khuthadzo</p>
              <p>072 578 3324</p>
            </div>

         </div>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="messageInfo.message">
          <ion-button  class="hide" fill="clear" color="light" (click)="back()"><ion-icon color="light" name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        
    
        <ion-buttons slot="end">
          <ion-button fill="clear" color="light"  (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
    
      </ion-toolbar>

        <div class="message-text">
        <!-- <p  *ngIf="messageInfo.message" class="no-selected animated" [ngClass]="{'zoomInLeft': messageInfo.message}">{{messageInfo.message}}</p> -->

          <div class="chat">
            <div class="user">
              <div class="i_chat">
                <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
              </div>
              <div class="user-text">
                <div class="inner-text">
                  <p>Hi</p>
                </div>
                <div class="time"><p><small>11:00 AM</small></p></div>
              </div>
            </div>
            <div class="artist">
              <div class="i_chat">
                <img src="../../assets/allef-vinicius-vKIc4k6dm10-unsplash.jpg" alt="">
              </div>
              <div class="artist-text">
                <div class="inner-text">
                  <p>HHow are you doing? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias odio, ratione reprehenderit excepturi aspernatur nam, iste in impedit quos libero consequatur deserunt consequuntur fugit itaque porro repudiandae nemo animi.</p>
                </div>
                <div class="time">
                  <p><small>12:00 AM</small></p>
                </div>
              </div>
            
            </div>
          </div>
         
         



        <!-- <div class="no-selected" *ngIf="!messageInfo.message">
          <p>Please select a message card on the left hand side to read</p>
        </div> -->
        </div>
        <ion-toolbar>
          <div class="options">
            
             
                <div class="col-row">
                  <ion-textarea placeholder="Type a Message"></ion-textarea>
                </div>
                <div class="col-btn">
                 <ion-button fill="clear">
                   <ion-icon name="send"></ion-icon>
                 </ion-button>
                </div>
             
    
          </div>
        </ion-toolbar>
       
        
  

        
    </div>
  </div>






  
</ion-content>
