

.list {
  height: 100%;
  width: 100%;
  display: flex;

  .read-not-container {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    background: rgba(243, 243, 243, 0.466);
      
    .header-reader {
      flex-basis: 10%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: linear-gradient(-45deg,rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.77)), url('../../assets/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
      ion-badge {
        height: 20px;
        width: 20px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        font-size: 60% !important;
        color: #fff;
      }
   
    }
.message-text {
  padding: .5em;
  background: rgba(219, 114, 88, 0.281);
  border-radius: 20px 20px 0 20px;
  
}
    .messages {
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 1em;
      display: flex;
      flex-direction: column;
      flex-basis: calc(100% - 56px);



      .item {
        flex: 0 0 10%;
       /*  background: rgb(255, 255, 255); */
        /* box-shadow:  6px 6px 12px rgba(0, 0, 0, 0.1),  
         -6px -6px 12px  rgba(255, 255, 255, 1); */
        margin: 1%;
        display: flex;
        align-items: center;
        font-size: 80%;
       position: relative;
       transition: all 500ms;
       cursor: pointer;

       .profile-list {
         height: 40px;
         width: 40px;
         border-radius: 50px;
         overflow: hidden;
         position: relative;
         margin-left: 10px;
         img {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           object-fit: cover;
         }
       }
   
       .statuss {
         
           top: 0;
           left: 0;
           width: 5px;
           height: 100%;
           background: rgb(219, 114, 88);
           position: absolute;
       }
   
   
       .notRead {
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: rgb(219, 114, 88);
        position: absolute;
      }
     
      .Read {
        
        content: '';
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: rgb(72, 255, 81);
        position: absolute;
      }
       
      
      
        .info, ion-icon {
               padding: 1em; 
        }
        
        
     }

  }

  }
  .fontBig {
    font-weight: bolder;
    font-size: 24px;
  }
  .fontSmall {
    font-weight: normal;
  }
 
/*   padding-right: 1em;
  padding-left: 1em;  */

 .active {
  margin-right: 1%;
   background: #b6b6b6 !important;
    color: #fff;


 }

 .searchbar {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
 }




  .content-messages {
    flex-basis: 60%;
 
    display: flex;
    flex-direction: column;
    
    /* background: red; */
/* ion-toolbar.tool {
  --background: linear-gradient(-45deg,rgba(214, 109, 83, 0.445), #D66E53) !important;
  --background-position: center center !important;
    --background-size: cover !important;
  --background-repeat: no-repeat !important;
} */
    .header {
        display: flex;
        justify-content: flex-end;
        background: linear-gradient(-45deg,rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.77)), url('../../assets/background.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
        align-items: center;
        flex-basis: 10%;
        padding: 0 1em;
      

        h1 {
            margin: 1%;
            font-weight: 1em;
        }
    }
    .message-text {
        flex-basis: 90%;
        background: #fff;
        padding: 1em;
        overflow-y: scroll;
        overflow-x: hidden;
        .no-selected {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          p {
            font-size: 80%;

          }
        }
    }
    .options {
        flex-basis: 2%;
        
        background: linear-gradient(-45deg,rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.77)), url('../../assets/background.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        p {
            display: flex;
            align-items: center;
            margin: 1%;
            color: rgb(168, 168, 168);
        }
    }
  }
}

.loe {
  font-weight: bold;
}

.hide {
  display: none;
}

.pro-main {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  .profile {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    overflow: hidden;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
  .names {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    margin-left: 1em;
  }
}

@media only screen and (max-width: 600px) {

  ion-segment {
    font-size: 70% !important;
  }

  .hide {
    display: flex;
  }

  ion-title {
    --text-align: left;
  }
  .list {
    position: relative;
    .content-messages {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .read-not-container {
      flex-basis: 100%;
    }
  }

}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .user, .artist {
    margin-top: 1em;
  }

  .user {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
   
    .i_chat {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      float: left;
      margin-right: 1%;
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .user-text {
      float: left;
      max-width: 90%;
      min-width: 5%;
      padding: .5em;
      background: rgba(165, 165, 165, 0.253);
      color: #000;
      border-radius: 0px 10px 10px 10px;
      position: relative;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.20), -3px -3px 10px rgba(255, 255, 255, 0.80);
      .inner-text {
        
        p {
          font-family:  Arial, sans-serif !important;
        }
      }
      
      .time {
        float: right;
      }

   /*   &::before {
       content: '';
        width: 0;
        height: 0;
        border-top: 8px solid rgba(165, 165, 165, 0.253);
        border-right: 8px solid transparent;
        position: absolute;
        bottom: -8px;
        left: 0;
      } */
      
    }

  }
  .artist {
    position: relative;
    width: 100%;

    .i_chat {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      float: right;
      margin-left: 1%;
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    .artist-text {
      float: right;
      max-width: 80%;
      min-width: 5%;
      padding: .5em;
      background: #D66E53;
      color: #fff;
      border-radius: 10px 0px 10px 10px;
      position: relative;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.20), -3px -3px 10px rgba(255, 255, 255, 0.80);
    
      .inner-text {
     
        p {
          font-family: Arial, sans-serif !important;
        }
      }
      .time {
        float: right;
      }
    
    
    }

  }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .read-not-container {
    flex: 0 0 40% !important;
  }
  .content-messages {
    flex: 0 0 60% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .read-not-container {
    flex: 0 0 40% !important;
  }
  .content-messages {
    flex: 0 0 60% !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .read-not-container {
    flex: 0 0 40% !important;
  }
  .content-messages {
    flex: 0 0 60% !important;
  }
}



