


  <div class="list">

    <div class="read-not-container">
      <ion-toolbar color="secondary" class="tool-h">
        <ion-buttons slot="right">
          <ion-button color="light" fill="icon-only"><ion-icon name="ios-chatbubbles"></ion-icon></ion-button>
        </ion-buttons>
          <ion-title class="ion-text-center">Chats</ion-title>
       </ion-toolbar>
      <div class="messages">
       
        <div class="item animated" *ngFor = "let message of NamesSorted; let i=index;" (click)="updateMessage(message.uid, i)" [ngClass]="{'pulse active': active==i}">
          <div  [ngClass]="{'statuss': active==i}"></div>
          <div class="profile-list">

            <img *ngIf = "!message.image" src="../../assets/person-icon.jpg" alt="">

            <img *ngIf = "message.image" src="{{message.image}}" alt="">
            
          </div>
          <div class="info">
            <p style="font-weight: bolder;">{{message.name}}</p>
            <p>{{message.number}}</p>
          </div>
          <div class="envelop">

            <ion-button fill="clear" *ngIf="message.status == 'NotRead'" mode="ios" color="dark"><ion-icon name="mail-unread">
            </ion-icon></ion-button>


            <ion-button fill="clear" *ngIf="message.status == 'Read'" mode="ios" color="dark"><ion-icon name="mail-open"></ion-icon>
            </ion-button>

            
          </div>
        </div>
        
       
      </div>
    </div>
   
  

    <div class="content-messages animated zoomInUp">
      <ion-toolbar color="light">
        <ion-buttons slot="start" class="hidered">
          <ion-button  class="hide" fill="clear" color="dark" (click)="back()"><ion-icon color="dark" name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
         <div class="pro-main">
           <div class="profile">
           

            <img *ngIf = "!image" src="../../assets/person-icon.jpg" alt="">

            <img *ngIf = "image" src="{{image}}" alt="">


            </div>
            <div class="names">
              <p style="font-weight: bold;">{{name}}</p>
              <p>{{number}}</p>
            </div>
            
         </div>
        </ion-buttons>
       
        
    
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
    
      </ion-toolbar>

        <ion-content padding #content>
         <div class="no-messages" *ngIf="DisplayMessages.length == 0 && imgchat">
            <img src="../../assets/chat.svg" width="350px" alt="">
         </div>
          
          <div class="chat" *ngFor="let chat of DisplayMessages; let i=index">

            <div class="user" *ngIf="chat.cmsUid !== null">
              <div class="i_chat">

                <img *ngIf = "!image" src="../../assets/person-icon.jpg" alt="">

                <img *ngIf = "image" src="{{image}}" alt="">


              </div>
              <div class="user-text">
                <div class="inner-text">
                  <p>{{chat.message}}</p>
                </div>
                <div class="time"><p><small>{{chat.time}}</small></p></div>
              </div>
            </div>


            <div class="artist" *ngIf="chat.cmsUid == null">
              <div class="i_chat">
                
                <img *ngIf = "!cmsImage" src="../../assets/person-icon.jpg" alt="">

                <img *ngIf = "cmsImage" src="{{cmsImage}}" alt="">

              </div>
              <div class="artist-text">
                <div class="inner-text">
                  <p>{{chat.message}}</p>
                </div>
                <div class="time">
                  <p><small>{{chat.time}}</small></p>
                </div>
              </div>
            
            </div>


          </div>
         
         


        


        <!-- <div class="no-selected" *ngIf="!messageInfo.message">
          <p>Please select a message card on the left hand side to read</p>
        </div> -->
      </ion-content>
        <ion-toolbar>
          <div class="options">
            <div class="textrear">
              <ion-textarea [disabled]="uid== ''"  placeholder="Type a message"  [(ngModel)]="response" name="" id="" rows="1"></ion-textarea>
            </div>
            <div class="btn-send">
              <ion-button [disabled]="uid == ''" fill="clear" mode="ios" color="success" (click)="Respond()" disabled={{buttonDisabled}}>
                <ion-icon name="send"></ion-icon>
              </ion-button>
            </div>
          
          </div>
        </ion-toolbar>
       
        
  

        
    </div>
  </div>






  
