<ion-header no-border>
  <ion-toolbar>
    <ion-title text-center>Messages</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark"  (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>


 <!--  <ion-list >
    <ion-item>
      <p> Name :{{message.mine.name}}</p> <br>
      <p>Email : {{message.mine.email}}</p>
      <p>Message : {{message.mine.message}}</p>
      <p>Time : {{message.mine.time}}</p>
      <button (click)="updateMessage(message.keys)">Read</button>
    </ion-item>
</ion-list> -->

  <div class="list">

    <div class="read-not-container">
      <div class="header-reader">
        <ion-badge color="primary">{{AllMessages}}</ion-badge>
        <p>All Messages</p>
        <ion-badge color="success">{{ReadMessages}}</ion-badge>
        <p>Read Messages</p>
        <ion-badge color="secondary">{{unReadMessages}}</ion-badge>
        <p>Unread Messages </p>
      </div>
      <div class="messages">
       
        <div class="item" *ngFor = "let message of MyMessages; let i=index;" (click)="updateMessage(message.mine.uid, message.keys, message, i)" [ngClass]="{'active': active == i}">
         <ion-icon size="small" color="dark" name="mail"></ion-icon>
          <div class="info">
            <p>{{message.mine.name}}</p>
            <p>{{message.mine.time}}</p>
          </div>
         
        </div>
        
        
      </div>
    </div>
   
  

    <div class="content-messages">
        <div class="header">
          <ion-icon name="person"></ion-icon>
          <h1> {{messageInfo.name}}</h1>
         
         
        </div>

        <div class="message-text">
        <p>{{messageInfo.message}}</p>
        <div class="no-selected" *ngIf="!messageInfo.message">
          <p>Please select a message card on the left hand side to read</p>
        </div>
        </div>


        <div class="options" (click)="deleteMessage()">
          <ion-button fill="clear" color="danger"  ><ion-icon name="trash" ></ion-icon></ion-button>
          <p> <ion-icon name="time"></ion-icon> {{messageInfo.time}}</p>
        </div>

        
    </div>
  </div>






  
</ion-content>
