<ion-header no-border>
  <ion-toolbar>
    <ion-title style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-left: 1em; color:#4b4b4b">Edit Profile</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button fill="icon-only">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
  <ion-toolbar>
 
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  
  <div class="loader" *ngIf="loader">
    <div class="loader-1">
      
    </div>
  </div>
    <form  class="main" [formGroup]="tattooForm"> 
    <div class="image-upload">
      <div class="image">
       <!--  <img src="../../../assets/allef-vinicius-hxNiXP498UI-unsplash.jpg" al -->
      </div>
      <div class="profile">
        <img  *ngIf="!MyData.image" src="../../../assets/person-icon.jpg" alt="">
        <img *ngIf="MyData.image" src="{{MyData.image}}" alt="">
      </div>
      <label class="fileContainer">
        <ion-icon size="large" name="add"></ion-icon> Edit your picture Here
        <input type="file" accept="image/*"  (change)="changeListener($event)"/> 
    </label>
   
    </div>
    <div class="form-container">
      <ion-list>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col  size="12">
              <ion-item>
                <ion-label position="floating">Full Name</ion-label>
                <ion-input type="text"  formControlName="name" [(ngModel)]="MyData.name" onkeypress="return /[a-zA-Z\s]/i.test(event.key)"  placeholder="{{MyData.name}}"></ion-input>
                <ion-icon slot="end" name="ios-person"></ion-icon>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.address">
                <div class="messages" *ngIf="tattooForm.get('name').hasError(validate.type) && (tattooForm.get('name').dirty || tattooForm.get('name').touched)">
                  {{validate.message}}
              </div> 
            </div>
            </ion-col>
          </ion-row>
          <!-- <ion-row justify-content-center>
            <ion-col  size="12">
              <ion-item >
             <ion-label position="floating">Physical Address</ion-label>
             <ion-input formControlName="address" (ionBlur)="HideList()" [(ngModel)]="address"  placeholder="Address"></ion-input>
           
              <ion-icon slot="end" name="ios-pin"></ion-icon>
              </ion-item>
               <div class="searchList">
                <div class="searchItem" [hidden]="autocompleteItems.length == 0" >
                  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                  <ion-label>{{ item.description }}</ion-label>  
                  </ion-item>
                </div>
               </div>
            
              <div class="error" *ngFor="let validate of validation_messages.address">
                <div class="messages" *ngIf="tattooForm.get('address').hasError(validate.type) && (tattooForm.get('address').dirty || tattooForm.get('address').touched)">
                  {{validate.message}}
              </div> 
            </div>
            </ion-col>
          </ion-row> -->
          <ion-row justify-content-center>
            <ion-col  size="12">
              <ion-item>
                <ion-label position="floating">Physical <Address></Address></ion-label>
                <ion-input type="text" formControlName="address"  [(ngModel)]="MyData.address" placeholder="{{MyData.address}}" ></ion-input>
                <ion-icon slot="end" name="ios-call"></ion-icon>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.address">
                <div class="messages" *ngIf="tattooForm.get('address').hasError(validate.type) && (tattooForm.get('address').dirty || tattooForm.get('address').touched)">
                  {{validate.message}}
              </div> 
            </div>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col  size="12">
              <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="tel" formControlName="phoneNumber" minlength="10" maxlength="10" [(ngModel)]="MyData.phoneNumber" placeholder="{{MyData.phoneNumber}}" onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));" ></ion-input>
                <ion-icon slot="end" name="ios-call"></ion-icon>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.phoneNumber">
                <div class="messages" *ngIf="tattooForm.get('phoneNumber').hasError(validate.type) && (tattooForm.get('phoneNumber').dirty || tattooForm.get('phoneNumber').touched)">
                  {{validate.message}}
              </div> 
            </div>
            </ion-col>
          </ion-row>


        <!--   <ion-row justify-content-center>
            <ion-col  size="12">
              <ion-item >
                <ion-label position="floating">Email address</ion-label>
                <ion-input type="text"  formControlName="email"  [(ngModel)]="MyData.email" placeholder="{{MyData.email}}"></ion-input>
                <ion-icon slot="end" name="ios-mail"></ion-icon>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.email">
                <div class="messages" *ngIf="tattooForm.get('email').hasError(validate.type) && (tattooForm.get('email').dirty || tattooForm.get('email').touched)">
                  {{validate.message}}
              </div> 
            </div>
            </ion-col>
          </ion-row> -->

          
          <ion-row justify-content-center>
            <ion-col size="7" style="margin-top: 1em;">
             <ion-button mode="ios" shape="round" color="success" expand="block" (click)=" editData()">Edit Profile</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
     
    </div>
  </form>
  
</ion-content>