/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~animate.css/animate.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
p, h1, h2,h3,h4,h5,h6,small, ion-label, ion-input, ion-item, input {
  font-family: 'Montserrat', sans-serif !important;
}

.swiper-pagination-bullet {
  background: #353535 !important;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #92929262;
  
}

ion-searchbar {
  box-shadow: none !important;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}


.fileContainer {
  background: #383838;
  color: #fff;
  float: left;
  padding: 1em !important;
}

.fileContainer [type=file] {
  cursor: pointer;
}



.event-detail-container {
    border-top: 0 !important;
}

.monthview-selected {
  background: linear-gradient(-45deg,rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.77)), url('./assets/background.jpg') !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    font-weight: bold;
    font-size: 21px;
    

    z-index: 1;
    
    box-shadow: 0 3px 6px rgb(196, 196, 196);
    }
    
    td.monthview-current {
    color: rgb(34, 34, 34);
    background: red;
    line-height: 2.7;
    .calendar-day {
      background-color: #e01a1a !important;
    }

 
    }
    
    .monthview-datetable {
    border: 0 !important;
    width:100% !important;
    position: relative;
   
  

    td, th, tr, table {
      border: 0 !important;
      font-size: 90%;
      font-family: 'Montserrat', sans-serif !important;
 
    }
    
    }
  
    
    .calendar-day {
    border-radius: 6px;

    
    &.primary {
      background-color: blue;
      color: white;
    }
    
    &.success {
      background-color: green;
      color: white;
    }
    
    &.warning {
      background-color: red;
      color: white;
    }
    
    &.danger {
      background-color: red;
      color: white;
    }
    }

     .modalMessages .modal-wrapper {
        
          --width: 60%;
         
     }
    
  @media only screen and (max-width: 600px) {
    .custom-modal .modal-wrapper {
      width: 100%;
    }
    
    .modalMessages .modal-wrapper {
        
      --width: 100%;
     
 }
    .modalMessages .modal-wrapper {
      position: unset;
   
 }
  }
  @media only screen and (min-width: 700px) {
    .custom-modal .modal-wrapper {
      width: 40%;
    }
    .modalMessages .modal-wrapper {
        
      --width: 70%;
     
 }

  }
  @media only screen and (min-width: 1200px) {
    .custom-modal .modal-wrapper {
      width: 20%;
    }
  }
  @media only screen and (max-width: 1200px) {
 /*    .modalMessages .modal-wrapper {
        
      --width: 80%;
     
 } */
  }

  
/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.781);
  z-index: 1000;
  animation-name: zoomIn;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-iteration-count: 1;
 
  
  transform: scale(1);
}
.loader-1 {

height: 20vw;
width: 20vw;
position: relative;
border: 3px solid transparent;
border-top-color: #3498db;
border-bottom-color: #3498db; 
border-radius: 50%;
-webkit-animation: spin 2s linear infinite;
-moz-animation: spin 2s linear infinite;
-o-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;

&::before {

  content: "";
  position: absolute;
  top:2%;
  bottom: 2%;
  left: 2%;
  right: 2%; 
  border: 3px solid transparent;
  z-index: 2;
  border-top-color: #db213a;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

&::after {
  content: "";
  position: absolute;
  top:5%;
  bottom: 5%;
  left: 5%;
  right: 5%; 
  border: 3px solid transparent;
  border-top-color: #dec52d;
  z-index: 2;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
}


@keyframes spin {
0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
}

50% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
}

}

/* Loader End here */

/* *, *::before, *::after {
  box-sizing: border-box;
}
.main, .booking-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  background: #f2f2f2;
}

.aside {
  flex-basis: 15%;
  position: relative;
  background: #D66E53;


  &::after {
      position: absolute;
      content: '';
      top: 0;
      height: 60%;
      left: 0;
      width: 100%;
      border-radius: 0 0 150px 0%;
      background: linear-gradient(90deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
      z-index: 2;
  }
  &::before {
      position: absolute;
      content: '';
      top: 0;
      height: 62%;
      left: 0;
      width: 100%;
      border-radius: 0 0 150px 0%;
      background: linear-gradient(30deg,rgba(204, 105, 66, 0.2), rgba(255, 255, 255, 0.1));
      z-index: 1;
  }

  & > * {
      position: relative;
      z-index: 3;
  }
}
.notifation {
  position: relative;

}
.badge {
  position: absolute;
  top: 15%;
  right: 25%;
  padding: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  height: 19px;
  width: 19px;
  border-radius: 50px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1),  
  inset -2px -2px 4px  rgb(226, 152, 42);
}
.profile-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3em;
  color: #fff;

}
.profile-img-blick {
  width: 6vh;
  height: 6vh;
  border-radius: 50px;
  overflow: hidden;
 
  img {
      height: 100%;
      width: 100%;
      object-fit: cover;

  }
}




@media all and (min-width: 1200px) {

  .aside {
      flex-basis: 4%;
  }




}

@media all and (min-width: 1400px) {

  .aside {
      flex-basis: 4%;
  }

}


 */
 